.header{
    background: #1C2B35;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.header a{
    text-decoration: none;
    margin-left: 30px;
    color: white;
}
.header a:hover{
    color: orange;
}
.links{
    display: flex;
    align-items: center;
}
.user-email{
    color: white;
    margin: 0 10px;
}
.sing-out-btn{
    color: orange;
    margin-left: 10px;
}
.sing-out-btn:hover{
    background-color: orange;
    color: white;
}