
.cart{
    /* height: 100%; */
    background: rgba(255, 153, 0, 0.3);
    padding: 23px;
    position: sticky;
    top: 10px;
    border-radius: 10px;
}

.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;


    color: #1C2B35;
}

.cart-details p {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;

    color: #2A414F;
}
.total-price{
    font-size: 25px;
}

.clear-cart{
    font-size: 21px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF3030;
}