
.margin-div{
    margin: 50px auto;
}

.form-container {
    box-sizing: border-box;

    width: 500px;
    height: 700px;

    /* margin: 50px auto; */
    border: 1px solid #95A0A7;
    border-radius: 8px;
    background: white;

    padding: 40px;
}

.margin-div {
    width: 500px;
    height: 700px;
    left: 464px;
    top: 197px;

    background: #FFE0B3;
    border-radius: 8px;
}

.form-title {
    font-size: 35px;
    line-height: 42px;
    /* font-family: 'Lato'; */
    font-style: normal;
    font-weight: 600;
    text-align: center;

    letter-spacing: 0.0025em;

    color: #2A414F;
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;

    color: #2A414F;
    margin: 10px;
}

.form-control input {
    box-sizing: border-box;
    width: 415px;
    height: 55px;

    border: 1px solid #95A0A7;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

.submit-btn {
    width: 415px;
    height: 55px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    padding: 10px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    margin-bottom: 12px;
}

.submit-btn:hover {
    background: rgba(255, 153, 0, 0.6);
}

.form-message-div{
    text-align: center;
}
.form-message-div a{
text-decoration: none;
}
.form-message {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.0025em;
    text-align: center;
}

.text-orange {
    color: #FF9900;
}
.error-message{
    color: rgb(193, 53, 53);
}

.show-password{
    font-size: 15px;
    margin: 0 10px;
    margin-top: -15px;
    margin-bottom: 15px;
}
.show-password:hover{
    cursor: pointer;
    color: orange;
}